@import 'tailwindcss';


@theme {
    --color-silver: #BBBAB9;
    --color-paleSlate: #A9B2BF
    --color-blackO: rgba(0, 0, 0, 0.7);
    --spacing-800: 800px;
    --spacing-1150: 1150px;
  
    --spacing-900: 900px;
    --spacing-90%: 90%;
    --spacing-80%: 80%;
    --spacing-95%: 95%;
    --spacing-100%: 100%;
    --text-xxs: 0.70rem;
    --color-white-o: rgba(255, 255, 255, 0.8);
}

.input{
    @apply h-12 mt-1 mb-7 p-1 font-normal leading-7 text-black border appearance-none  rounded-lg transition ease-in-out duration-150 bg-clip-padding bg-white border-slate-200 w-full text-base text-slate-700;
}


.areaInput{
    @apply h-16 mt-1 mb-7 p-1 font-normal leading-7 text-black border appearance-none  rounded-lg transition ease-in-out duration-150 bg-clip-padding bg-white border-slate-200 w-full text-base text-slate-700;
}

.btn{
    @apply  uppercase  cursor-pointer tracking-wider  font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
}
.sbtn{
    @apply  cursor-pointer tracking-wider text-white rounded-md text-xxs px-5 py-1 text-center me-2 mb-2;
}